canvas {
	border-style: solid;
	border-width: 1px;
}
#canvas {
	position: absolute;
	top: 4px;
	left: 310px;
	z-index: 2;
}
#canvas2 {
	/* border-style: solid; */
	/* border-width: 1px; */
	border-color: #000;
	position: absolute;
	top: 4px;
	left: 310px;
	z-index: 1;
}
.canvas_container{
	overflow: visible;
}
#border{
	border-style: solid;
	border-color: #000;
	border-width: 1px;
	position: absolute;
	top: 4px;
	left: 310px;
	z-index: 3;
}
#key {
	letter-spacing: 10px
}
#controls {
	width: 300px;
}
.graph {
	top: 0px;
	left: 720px;
	position: absolute;
}